 <div class="container_a">
     <div style="background:url('body2.jpeg');background-repeat:no-repeat;background-size:cover;height:200px;" class=" ">
     <div style="text-align:center;"><img style="margin-top:20px;" height="90px" src="logo.png" /></div>
    <p style="text-align:center;color:#ffffff;font-family:sans-serif;font-weight:bolder;font-size:20px;margin-top:15px;text-shadow: 2px 3px #000000;">Saving Cost &#8226; Saving Time &#8226; Saving Lives</p>
    </div>
</div>
    
    <div class="container_a">
     <div style="background-color:#000000;" class=" ">
     <p style="color:#ffffff;text-align:center;padding:10px 0px; margin:0px;">Spring 2017 Team GasAware</p>
    </div>
</div>   
  



</body>
</html>