 <!doctype html>
<head>
 <title> GasAware Website </title>
    <link href="logo.ico" rel="shortcut icon">
<link href="logo.png" rel="apple-touch-icon-precomposed">
    
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' >
  
 
    
    
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 
<script type="text/javascript" src="/js/script.js" async defer></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

</head>

<header>

</header>


<body>
    
<!--STICKY NAV-->    
<header>
    <div class="sn_ham_cont"><img  style="width:50px;" class="stick_open_nav" src="ham.png" /></div>
    <div class="sn_dsk_nav_cont">
        <div style="padding:10px 0px 0px 20px;" class="half">  
            <a href="https://gasaware.herokuapp.com/">
                <img id="header_pic" height="80spx" src="/logo.png" />
            </a>
        </div>
        <div class="menu_half half">
            <ul class="navinner">
                <li><a href="https://gasaware.herokuapp.com/database">Database</a></li>
                <li><a href="https://gasaware.herokuapp.com/map">Map</a></li> 
                <li><a href="https://gasaware.herokuapp.com/newDevice">Add Device</a></li> 
                <li><a href="firmware.zip" download="GasawareFirmware.zip">Download</a></li>
            </ul>
        </div>
    </div> 
    <div class="sn_mob_cont"> 
        <ul id="stick_mob_menu" style="list-style-type:none;">
            <li><a class="mob_nav_link" href="https://gasaware.herokuapp.com/database">Database</a></li>
            <li><a class="mob_nav_link" href="https://gasaware.herokuapp.com/map">Map</a></li> 
            <li><a class="mob_nav_link" href="https://gasaware.herokuapp.com/newDevice">Add Device</a></li> 
            <li><a class="mob_nav_link" href="firmware.zip" download="GasawareFirmware.zip">Download</a></li>
        </ul>     
    </div>      
</header>       

 <div style="padding-top:10px;" class="sn_ham_cont"><img  style="width:50px;padding-right:20px;" class="open_nav" src="ham.png" /></div>
<!--HERO-->
<div class="container_a">
   <div style="background-image:url('header.jpeg');height:300px;background-size:cover;background-position:center;background-repeat:no-repeat;">
       <h1 id="header_title">Team Gas Aware</h1>
       <div style="text-align:center;"><img id="header_pic" height="100px" src="/logo.png" /></div>
    <p id="header_sub_text">Saving Cost &#8226; Saving Time &#8226; Saving Lives</p>
    </div>
</div>

 
<!--MAIN NAV-->    
<div id="home_menu_bar" class="container_a">
     <div style="background-color:#000000;height:50px;text-align:center;">
      <ul class="navi" id="menu">
          <li><a href="/">GasAware</a></li> 
          <li><a href="https://gasaware.herokuapp.com/database">Database</a></li> 
           <li><a href="https://gasaware.herokuapp.com/map">Map</a></li> 
           <li><a href="https://gasaware.herokuapp.com/newDevice">Add Device</a></li> 
           <li><a href="firmware.zip" download="GasawareFirmware.zip">Download</a></li>
      </ul>   
    </div>
</div>  
    
<!--MOBILE MENU-->
<div class="sn_mob_cont"> 
    <ul id="mob_menu" style="list-style-type:none;">
        <li><a class="mob_nav_link" href="https://gasaware.herokuapp.com/database">Database</a></li>
        <li><a class="mob_nav_link" href="https://gasaware.herokuapp.com/map">Map</a></li> 
        <li><a class="mob_nav_link" href="https://gasaware.herokuapp.com/newDevice">Add Device</a></li> 
        <li><a class="mob_nav_link" href="firmware.zip" download="GasawareFirmware.zip">Download</a></li>
    </ul>     
</div>          
    
    
<script>
      jQuery('.open_nav').click(function(){
     jQuery(this).toggleClass('opened');
     if (jQuery(this).hasClass('opened')){
        jQuery("#mob_menu").slideDown();
     } else{
        jQuery("#mob_menu").slideUp();
     }
});
    
       jQuery('.stick_open_nav').click(function(){
     jQuery(this).toggleClass('opened');
     if (jQuery(this).hasClass('opened')){
        jQuery("#stick_mob_menu").slideDown();
     } else{
        jQuery("#stick_mob_menu").slideUp();
     }
});   
</script>    