.name_input{
    margin-bottom: 10px;
    border: 1px solid #000000;
    height: 25px;
    border-radius: 4px;
} 

body{
    height: 100vh;
    width: 100%;
    margin: 0px;
}

#fc_whole_page{
    width: 95%;
    position: relative;
    margin: auto;
    max-width: 500px;
}

.full_row{
    position: relative;
    width: 100%;
    display: flex;
}

.round{
    position: relative;
    width: 10%;
    border: 1px solid #000000;
}
.class{
    position: relative;
    width: 18%;
    border: 1px solid #000000;
}