#sorry_whole_page{
    width: 350px;
    height: 560px;
    position: relative;
    perspective: 800px;
    margin: auto;
}

#card{
    /*
    margin: auto;
    width: 95%;
    max-width: 350px;
    position: relative;
    perspective: 800px;
     position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
    */
     width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
    top: 100px;
}

#sorry_card{
    height: 560px;
    border-radius: 10px;
    border: 1px solid #888888;
    box-shadow: 10px 10px 5px #888888;
    position: relative;
}
#sorry_card_top{
    position: absolute;
    top: 0px;
    padding: 38px 38px 0px 38px;
    box-sizing: border-box;
    height: 156px;
    width: 100%;
}
#sorry_card_middle{
    margin-top: 156px;
    text-align: center;
    height: 248px;
    width: 100%;
    background-image:url('sorry_star.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}
#sorry_card_bottom{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 38px 38px 0px 38px;
    height: 156px;
    box-sizing: border-box;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}
#sorry_star{
    height: 100%;
    margin: auto;
    
}

.card_number{
    margin: 0px;
    font-size: 55px;
    line-height: 55px;
}
.card_desc{
    margin: 0px;
    text-align: center;
    padding: 5px 20px 0px 20px;
    font-size: 18px;
    
}

.big_number{
    height: 100%;
    font-size: 200px;
}

#next_button{
    text-align: center;
    width: 80%;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #000000;
    margin: auto;
    margin-top: 25px;
    padding: 10px 0px;
    box-sizing: border-box;
}
#next_button:hover{
    color: #FFFFFF;
    background-color: #000000;
    cursor: pointer;
}

#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card .front {
  
}
#card .back {
  background: blue;
  transform: rotateY( 180deg );
}

#card.flipped {
  transform: rotateY( 180deg );
}