#deck_cont{
    margin: auto;
    width: 95%;
    max-width: 350px;
    position: relative;
}

#sorry_card{
    height: 560px;
    border-radius: 10px;
    border: 1px solid #888888;
    box-shadow: 10px 10px 5px #888888;
}
#sorry_card_top{
    position: absolute;
    top: 0px;
    padding: 38px 38px 0px 38px;
    box-sizing: border-box;
    height: 156px;
    width: 100%;
}
#sorry_card_middle{
    margin-top: 156px;
    text-align: center;
    height: 248px;
    width: 100%;
    background-image:url('/cluechecklist/public/sorry_star.png');
    background-size: contain;
    background-position: center;
    
}
#sorry_card_bottom{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-left: 65px;
    padding-right: 65px;
    height: 156px;
    
}
#sorry_star{
    height: 100%;
    margin: auto;
    
}