<!doctype html>
<html lang="en-US">
<head>
<title>Five Crowns Scorecard</title>
<link href="mag_glass.ico" rel="shortcut icon">
<link href="clue.png" rel="apple-touch-icon-precomposed">
<% include ../partials/global_header.ejs %> 
<link rel="stylesheet" type="text/css" href="/stylesheets/five_crowns_style.css" />
</head>
    
    
<body>
    
    <form id="players_form" role="form">
        
            <label for="days">Number of Players</label>
            <input style="width:150px;height:32px;" id="players" type="text"  placeholder="ex: 5 (Players)" required="" autocomplete="off"/>
                       
                       
                        <button style="padding:1px 30px;" id="btnSubmit" type="submit">
                            Submit</button>
                       

    </form>
    
    <div id="name_form">
    
     <form id = "names_form" role = "form">
                                 
         <input class="name_input" id="P_1" type="test" placeholder = "Player 1"required=""/><br>
         <input class="name_input" id="P_2" type="test" placeholder = "Player 2"required=""/><br>
         <input class="name_input" id="P_3" type="test" placeholder = "Player 3"required=""/><br>
         <input class="name_input" id="P_4" type="test" placeholder = "Player 4"required=""/><br>
         <input class="name_input" id="P_5" type="test" placeholder = "Player 5"required=""/><br>
         <input class="name_input" id="P_6" type="test" placeholder = "Player 6"required=""/><br>
         <input class="name_input" id="P_7" type="test" placeholder = "Player 7"required=""/><br>
         <input class="name_input" id="P_8" type="test" placeholder = "Player 8"required=""/><br>
         <input class="name_input" id="P_9" type="test" placeholder = "Player 9"required=""/><br>
         <input class="name_input" id="P_10" type="test" placeholder = "Player 10"required=""/><br>
                                
        <button style="padding:1px 30px;" id="Submit" type="submit">Submit</button>
                
    </form>'
    
    
    
    </div>
    
    <div id="test"></div>
      
      <%= code %>
      
      
      
    
    
    <script>
                   $(function(){
            $('#players_form').on('submit', function(e){
            e.preventDefault();
            var players = $('#players').val();
                /*
                console.log("number of players: " + players);
                document.getElementById("players_form").style.display = "none";
                
                name_form = '<form id = "names_form" role = "form">';
                                for(var i=0; i<players; i++){  
                               name_form += '<input class="name_input" id="P_'+(i+1)+'" type="test" placeholder = "Player '+(i+1)+'"required=""/><br>';  
                                }
                name_form += '<button style="padding:1px 30px;" id="Submit" type="submit">Submit</button>';
                
                name_form += '</form>';
                
                 document.getElementById("name_form").innerHTML = name_form;
                */
                
              $.ajax({
            type: 'GET',
            url: '/get_name_form',
            dataType: 'html',
                  
            success: function(result) {
          //       console.log(result);
         //   document.getElementById("name_form").innerHTML = result;
               
            }
            });
            
      
        });
                   
        }); 
        
        
        
        
$(function(){
            $('#names_form').on('submit', function(e){
            e.preventDefault();
          //  var players = $('#players').val();
                console.log("Hello");

               document.getElementById("name_form").innerHTML = "hello";
      
        });
                   
        }); 
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
      </script>
    
</body>  
    
    
    
<script type="text/javascript" src="/js/five_crowns_scripts.js" async defer></script>
    
<% include ../partials/global_footer.ejs %>