<!doctype html>
<html lang="en-US">
<head>
<title>Five Crowns Scorecard</title>
<link href="mag_glass.ico" rel="shortcut icon">
<link href="clue.png" rel="apple-touch-icon-precomposed">
<% include ../partials/global_header.ejs %> 
<link rel="stylesheet" type="text/css" href="/stylesheets/five_crowns_style.css" />
</head>
    
    
<body>
    
    <form id="players_form" role="form">
        
            <label for="days">Number of Players</label>
            <input style="width:150px;height:32px;" id="players" type="text"  placeholder="ex: 5 (Players)" required="" autocomplete="off"/>
                       
                       
                        <button style="padding:1px 30px;" id="btnSubmit" type="submit">
                            Submit</button>
                       

    </form>
    
    <div id="name_form"></div>
    
    <div id="test"></div>
      
      
      
      
      
    
    
    <script>
                   $(function(){
            $('#players_form').on('submit', function(e){
            e.preventDefault();
            var players = $('#players').val();
                console.log("number of players: " + players);
                document.getElementById("players_form").style.display = "none";
                
                name_form = '<form id = "names_form" role = "form">';
                                for(var i=0; i<players; i++){  
                               name_form += '<input class="name_input" id="P_'+(i+1)+'" type="test" placeholder = "Player '+(i+1)+'"required=""/><br>';  
                                }
                name_form += '<button style="padding:1px 30px;" id="Submit" type="submit">Submit</button>';
                
                name_form += '</form>';
                
                 document.getElementById("name_form").innerHTML = name_form;
                
                /*
              $.ajax({
            type: 'GET',
            url: '/sendData?id=' + global_id,
            success: function(result) {
                 //console.log(result);
                printStats(result, days);
                alert("hello");
               
            }
            });
            */
      
        });
                   
        }); 
        
        
        
        
$(function(){
            $('#names_form').on('submit', function(e){
            e.preventDefault();
          //  var players = $('#players').val();
                console.log("Hello");

               document.getElementById("name_form").innerHTML = "hello";
      
        });
                   
        }); 
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
      </script>
    
</body>  
    
    
    
<script type="text/javascript" src="/js/five_crowns_scripts.js" async defer></script>
    
<% include ../partials/global_footer.ejs %>