<!doctype html>
<html lang="en-US">
<head>
<title>Clue Checklist</title>
<link href="mag_glass.ico" rel="shortcut icon">
<link href="clue.png" rel="apple-touch-icon-precomposed">
<% include ../partials/global_header.ejs %> 
</head>

<body>
   
    <a href = "clue.ejs">Go to Clue Page</a>
    
     <a href = "score.ejs">Go to Score Page</a>
    
    
</body>
 

    
<% include ../partials/global_footer.ejs %>