<!doctype html>
<html lang="en-US">
<head>
<title>Clue Checklist</title>
<!--<link href="logo.ico" rel="shortcut icon">
<link href="logo.png" rel="apple-touch-icon-precomposed">-->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<style>
    body{margin:0px;}    
    .full_page{
        width:100%;
        font-family: sans-serif;
        text-align: center;
        background-color: azure;
    }
    .clue_container{
        width:30%;
        min-width: 450px;
        position: relative;
        margin: auto;
        background-color: aquamarine;
    }
    .item_row{
        display: inline-flex;
        height: 45px;
        width: 100%;
    }
    /*-----------------MY CARD-------------------*/
    .my_card_box{
        width: 40px;
        background-color:#ffffff;
        box-sizing:border-box;
        border: 2px solid #000000;
    }
/*----------YES AND NO BOX ALWAYS---------*/
    .yon_always{
        width: 55px;
        font-weight: bold;
        padding-top: 12px;
        border: 2px solid #000000;
        box-sizing: border-box;
    }
/*----------YES BOX---------*/
    .yes_default{
        background-color:green;
        color: #ffffff;
    }
     .yes_default:hover{
        cursor: pointer;
    }
    .yes_no_state{
        background-color:red;
        color:red;
    }
/*----------NO BOX---------*/
    .no_default{
        background-color: red;
        color: #ffffff;
    }
    .no_default:hover{
        cursor: pointer;
    }
    .no_yes_state{
        background-color: green;
        color:green;
    }
/*----------ITEM BOX ALWAYS---------*/
    .item_always{
        width: calc(100% - 150px);
        border-right-style: none;
        border-left-style: none;
        font-weight: bold;
        padding-top: 12px;
        border: 2px solid #000000;
        box-sizing: border-box;
    }
    .item_always:hover{
        cursor:pointer;
    }
/*----------ITEM BOX---------*/
    .item_default{
        background-color:#ffffff;
    }
    .item_yes{
        background-color:green;
        color:#ffffff;
    }
    .item_no{
        background-color:red;
        color:#000000;
    }
/*---------------------------------*/
    .list_title{
        font-weight: bolder;
        text-transform: uppercase;
        padding-top: 12px;
        border: 2px solid #000;
        box-sizing: border-box;
        background-color: chocolate;
        height: 50px;
        font-size: 20px;
    }
    @media screen and (max-width:480px){
        .clue_container{
            width:100%;
            min-width:100%;
        }
    }
</style>   
    
</head>

<body>
    <div class="full_page">
        <div class="clue_container">
            <div id="suspect_list">
                <div class="list_title">Suspects</div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Mr. Green</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Col. Mustard</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Mrs. Peacock</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Prof. Plum</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Ms. Scarlet</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Mrs. White</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
            </div>

            <div id="weapsons_list">
            <div class="list_title">Weapons</div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Candlestick</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Knife</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Lead Pipe</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Revolver</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Rope</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Wrench</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
            </div>
           
            <div id="rooms_list">
            <div class="list_title">Rooms</div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Ballroom</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Billiard Room</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Conservatory</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Dining Room</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Hall</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Kitchen</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Library</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Lounge</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
                <div class="item_row maybe">
                    <div class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Study</div>
                    <div class="no_default yon_always">NO</div>
                    <div class="my_card_box"></div>
                </div>
            </div>
        </div>
    </div>
</body>
    
<script>
    
    
   $('.yes_default').click(function(){
       if($(this).parent().hasClass('maybe')){
           $(this).siblings('.item_default').addClass('item_yes'); //item box
           $(this).siblings('.item_default').removeClass('item_default'); //item box
           $(this).siblings('.no_default').addClass('no_yes_state'); // no box
           $(this).siblings('.no_default').removeClass('no_default'); //no box
           $(this).parent().removeClass('maybe'); // parent state
           $(this).parent().addClass('affirmative'); //parent state
           // change all siblings to no automatically
           $(this).parent().siblings().children('.item_default').addClass('item_no'); //all sib item boxes
           $(this).parent().siblings().children('.item_default').removeClass('item_default'); //all sib item boxex
           $(this).parent().siblings().children('.yes_default').addClass('yes_no_state'); //all item yes boxes
           $(this).parent().siblings().children('.yes_default').addClass('yes_no_state'); //all item yes boxes
           $(this).parent().siblings('.maybe').addClass('negative'); // parent sib states
           $(this).parent().siblings('.maybe').removeClass('maybe'); //parent sib states
           
       }
   });
    
     $('.no_default').click(function(){
       if($(this).parent().hasClass('maybe')){
           $(this).siblings('.item_default').addClass('item_no'); //item box
           $(this).siblings('.item_default').removeClass('item_default'); //item box
           $(this).siblings('.yes_default').addClass('yes_no_state'); // no box
           $(this).siblings('.yes_default').removeClass('yes_default'); //no box
           $(this).parent().removeClass('maybe'); // parent state
           $(this).parent().addClass('negative'); //parent state
       }
   });  


   //reset row when item is selected
    $('.item_always').click(function(){
        if($(this).parent().hasClass('affirmative')){
            $(this).removeClass('item_yes');
            $(this).addClass('item_default');
            $(this).siblings('.no_yes_state').addClass('no_default'); // no box
            $(this).siblings('.no_yes_state').removeClass('no_yes_state'); //no box
            $(this).parent().removeClass('affirmative'); // parent state
            $(this).parent().addClass('maybe'); //parent state
        } else if($(this).parent().hasClass('negative')){
            $(this).removeClass('item_no'); // item box
            $(this).addClass('item_default'); // item box
            $(this).siblings('.yes_no_state').addClass('yes_default'); // yes box
            $(this).siblings('.yes_no_state').removeClass('yes_no_state'); //yes box
            $(this).parent().removeClass('negative'); // parent state
            $(this).parent().addClass('maybe'); //parent state   
        }  
    });
    
    
    
    
    
    

</script>    
    
</html>