<!doctype html>
<html lang="en-US">
<head>
<title>Clue Checklist</title>
<link href="mag_glass.ico" rel="shortcut icon">
<link href="clue.png" rel="apple-touch-icon-precomposed">
<% include ../partials/global_header.ejs %> 
</head>


    
    //View the 100 most recent samples from Device 1 in realtime
app.get('/visualization', function(request, response) {
    response.render('pages/visualization');
});
    
  <body>  
   
    <a href = "/clue">Go to Clue Page</a>
    
     <a href = "/score">Go to Score Page</a>
    
    
</body>
 

    
<% include ../partials/global_footer.ejs %>