<!doctype html>
<html lang="en-US">
<head>
<title>Clue Checklist</title>
<!--<link href="logo.ico" rel="shortcut icon">
<link href="logo.png" rel="apple-touch-icon-precomposed">-->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<style>
    body{margin:0px;}    
    .full_page{
        width:100%;
        font-family: sans-serif;
        text-align: center;
        background-color: azure;
    }
    .clue_container{
        width:30%;
        min-width: 450px;
        position: relative;
        margin: auto;
        background-color: aquamarine;
    }
    .item_row{
        display: inline-flex;
        height: 45px;
        width: 100%;
    }
/*----------YES AND NO BOX ALWAYS---------*/
    .yon_always{
        width: 70px;
        font-weight: bold;
        padding-top: 12px;
        border: 2px solid #000000;
        box-sizing: border-box;
    }
/*----------YES BOX---------*/
    .yes_default{
        background-color:green;
        color: #ffffff;
    }
     .yes_default:hover{
        cursor: pointer;
    }
    .yes_no_state{
        background-color:red;
        color:red;
    }
/*----------NO BOX---------*/
    .no_default{
        background-color: red;
        color: #ffffff;
    }
    .no_default:hover{
        cursor: pointer;
    }
    .no_yes_state{
        background-color: green;
        color:green;
    }
/*----------ITEM BOX ALWAYS---------*/
    .item_always{
        width: calc(100% - 140px);
        border-right-style: none;
        border-left-style: none;
        font-weight: bold;
        padding-top: 12px;
        border: 2px solid #000000;
        box-sizing: border-box;
    }
/*----------ITEM BOX---------*/
    .item_default{
        background-color:#ffffff;
    }
    .item_yes{
        background-color:green;
        color:#ffffff;
    }
    item_no{
        background-color:red;
        color:#000000;
    }
/*---------------------------------*/
    .list_title{
        font-weight: bolder;
        text-transform: uppercase;
        padding-top: 12px;
        border: 2px solid #000;
        box-sizing: border-box;
        background-color: chocolate;
        height: 50px;
        font-size: 20px;
    }
    @media screen and (max-width:480px){
        .clue_container{
            width:100%;
            min-width:100%;
        }
    }
</style>   
    
</head>

<body>
    <div class="full_page">
        <div class="clue_container">
            <div id="suspect_list">
                <div class="list_title">Suspects</div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Mr. Green</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Col. Mustard</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Mrs. Peacock</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Prof. Plum</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Ms. Scarlet</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Mrs. White</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
            </div>

            <div id="weapsons_list">
            <div class="list_title">Weapons</div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Candlestick</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Knife</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Lead Pipe</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Revolver</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Rope</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Wrench</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
            </div>
           
            <div id="rooms_list">
            <div class="list_title">Rooms</div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Ballroom</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Billiard Room</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Conservatory</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Dining Room</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Hall</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Kitchen</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Library</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Lounge</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
                <div class="item_row maybe">
                    <div onclick="update_with_yes(this)" class="yes_default yon_always">YES</div>
                    <div class="item_always item_default">Study</div>
                    <div onclick="update_with_no(this)" class="no_default yon_always">NO</div>
                </div>
            </div>
        </div>
    </div>
</body>
    
<script>
    
    
   $('.yes_default').click(function(){
       if($(this).parent().hasClass('maybe')){
           $(this).siblings('.item_default').addClass('item_yes');
           $(this).siblings('.item_default').removeClass('item_default');
           $(this).siblings('.no_default').addClass('no_yes_state');
           $(this).siblings('.no_default').removeClass('no_default');
           $(this).parent().removeClass('maybe');
           $(this).parent().addClass('affirmative');
       }
   });
    
    
    
   function update_with_yes(object){
       var beep = 0;/*
   var
      var id = object.id;
      var parent = object.parentElement;
       if(parent.classList.contains('maybe')){ 
           object.nextElementSibling.classList.remove('item_default'); //item box
           object.nextElementSibling.classList.add('item_yes'); //item box
            object.nextElementSibling.nextElementSibling.classList.remove('no_default'); //no box
           object.nextElementSibling.nextElementSibling.classList.add('no_yes_state'); //no box
            parent.classList.remove('maybe');
            parent.classList.add('affirmative');
       } else if(parent.classList.contains('negative')){
           reset_row(parent);
       } else{
           return;
       }*/
   } 
    
    

    
    function update_with_no(object){
       var id = object.id;
       var parent = object.parentElement;
       if(parent.classList.contains('maybe')){ 
            object.previousElementSibling.classList.remove('item_default'); //item box
            object.previousElementSibling.classList.add('item_yes'); //item box
            object.previousElementSibling.previousElementSibling.classList.remove('yes_default'); //yes box
            object.previousElementSibling.previousElementSibling.classList.add('no_yes_state'); //yes box
            parent.classList.remove('maybe');
            parent.classList.add('negative');
       } else if(parent.classList.contains('affirmative')){
           reset_row(parent);
       } else{
           return;
       } 
    }
    
    function reset_row(object){
        if(object.classList.contains('negative')){
            object.classList.remove('negative');
            object.classList.add('maybe'); 
        } else if(object.classList.contains('affirmative')){
            object.classList.remove('affirmative');
            object.classList.add('maybe');
        } 
        object.firstElementChild.style.backgroundColor="green";
        object.firstElementChild.style.color = "#FFFFFF"
        
        object.firstElementChild.nextElementSibling.style.backgroundColor="#FFFFFF";
        object.firstElementChild.nextElementSibling.style.color = "#000000"
        
        object.firstElementChild.nextElementSibling.nextElementSibling.style.backgroundColor="red";
        object.firstElementChild.nextElementSibling.nextElementSibling.style.color = "#FFFFFF"  
    }

</script>    
    
</html>