<!doctype html>
<html lang="en-US">
<head>
<title>Clue Checklist</title><!--
<link href="mag_glass.ico" rel="shortcut icon">
<link href="clue.png" rel="apple-touch-icon-precomposed">-->
<% include ../partials/global_header.ejs %> 
</head>


    
<body style="background-image:url('/images/sky_back.jpg');"> 
    <div class="home_header"></div>
    <div class="container">
        <div class="app_cont">
        
            <a href="/clue" class="app_link"><img class="rounded shadow" src="/images/clue_app.png" alt="Clue Game" width="100" height="100" hspace="10"></a>
            
            <a href="/five-crowns" class="app_link"><img class="rounded shadow" src="/images/fivecrowns_app.png" alt="Five Crowns Scoresheet" width="100" height="100" hspace="10"></a>
            
            <a href="/sorry" class="app_link"><img class="rounded shadow" src="/images/sorry_app.png" alt="Sorry Card Deck" width="100" height="100" hspace="10"></a>
            
            <a href="/taboo" class="app_link"><img class="rounded shadow" src="/images/taboo_app.png" alt="Taboo System" width="100" height="100" hspace="10"></a>

    
        </div>
    </div> 
</body>
 

    
<% include ../partials/global_footer.ejs %>