<!doctype html>
<html lang="en-US">
<head>
<title>Sorry Card Deck</title>
<link href="mag_glass.ico" rel="shortcut icon">
<link href="clue.png" rel="apple-touch-icon-precomposed">
<% include ../partials/global_header.ejs %> 
<link rel="stylesheet" type="text/css" href="/stylesheets/sorry_style.css" />
</head>
    
    <body>
    <div id="sorry_whole_page">
        <div id="deck_cont">
            <div id="sorry_card">
                <div id="sorry_card_top">
                    <h5 class="card_number" id="top_numb">12</h5>
                    <p class="card_desc" id="top_desc">Move forward 12.</p>
                </div>
                <div id="sorry_card_middle">
                  <h1 class="big_number" id="big_numb">12</h1>
                
                </div>
                <div id="sorry_card_bottom">
                    <h5 class="card_number" id="bot_numb">12</h5>
                    <p class="card_desc" id="bot_desc">Move forward 12.</p>
                
                </div>
            </div>
           
            <div onclick="draw_next_card()" id="next_button">DRAW</div>
          
        </div>
        
        
        
        
        </div>
    </body>
    
<script type="text/javascript" src="/js/sorry.js" async defer></script> 
<% include ../partials/global_footer.ejs %>