<!doctype html>
<html lang="en-US">
<head>
<title>Sorry Card Deck</title>
<link href="mag_glass.ico" rel="shortcut icon">
<link href="clue.png" rel="apple-touch-icon-precomposed">
<% include ../partials/global_header.ejs %> 
<link rel="stylesheet" type="text/css" href="/stylesheets/sorry.css" />
</head>
    
    <body>
    <div id="sorry_whole_page">
        <div id="deck_cont">
            <div id="sorry_card">
                <div id="sorry_card_top">
                    <h5 class="card_number"></h5>
                    <p class= "card_desc"></p>
                </div>
                <div id="sorry_card_middle">
                  <!--  <img id="sorry_star" src="sorry_star.png" /> -->
                
                </div>
                <div id="sorry_card_bottom"></div>
            
            
            
            
            </div>
        </div>
        
        
        
        
        </div>
    </body>
    
<script type="text/javascript" src="/js/sorry.js" async defer></script> 
<% include ../partials/global_footer.ejs %>