<!doctype html>
<html lang="en-US">
<head>
<title>Taboo Game</title>
<link href="" rel="shortcut icon">
<link href="" rel="apple-touch-icon-precomposed">
<% include ../partials/global_header.ejs %> 
<link rel="stylesheet" type="text/css" href="/stylesheets/taboo_style.css" />
</head>
    
<div class="full_page">
    
    <div class="twenty">
        <div class="inner_block"><div class="inner_text">Team A Has <span id="" class=""></span>Points</div></div>
        <div class="inner_block"><div class="inner_text">Team A Has <span id="" class=""></span>Points</div></div>
    </div> 
    
    <div class="forty">
        <div class="inner_block"><div class="inner_text">A+</div></div>
        <div class="inner_block"><div class="inner_text">A-</div></div>
    </div> 
    
    <div class="forty">
        <div class="inner_block"><div class="inner_text">B+</div></div>
        <div class="inner_block"><div class="inner_text">B-</div></div>
    </div> 
    
    <div class="twenty">
        <div class="inner_block"><div class="inner_text">Time:</div></div>
        <div class="inner_block"><div class="inner_text">0:23</div></div>
    </div> 

    
    
</div>   
    
    
<script type="text/javascript" src="/js/taboo_scripts.js" async defer></script>
    
<% include ../partials/global_footer.ejs %>