<!doctype html>
<html lang="en-US">
<head>
<title>Taboo Game</title>
<link href="mag_glass.ico" rel="shortcut icon">
<link href="clue.png" rel="apple-touch-icon-precomposed">
<% include ../partials/global_header.ejs %> 
<link rel="stylesheet" type="text/css" href="/stylesheets/taboo_style.css" />
</head>
    
<div class="full_page">
    
    <div class="twenty">
        <div class="">Team A Has <span id="" class=""></span>Points</div>
        <div class="">Team A Has <span id="" class=""></span>Points</div>
    </div> 
    
    <div class="forty">
        <div class=""></div>
        <div class=""></div>
    </div> 
    
    <div class="forty">
        <div class=""></div>
        <div class=""></div>
    </div> 
    
    <div class="twenty">
        <div class=""></div>
    </div> 

    
    
</div>   
    
    
<script type="text/javascript" src="/js/taboo_scripts.js" async defer></script>
    
<% include ../partials/global_footer.ejs %>