<!doctype html>
<html lang="en-US">
<head>
<title>Taboo Game</title>
<link href="" rel="shortcut icon">
<link href="" rel="apple-touch-icon-precomposed">
<% include ../partials/global_header.ejs %> 
<link rel="stylesheet" type="text/css" href="/stylesheets/taboo_style.css" />
</head>
    
<div class="full_page">
  
<div class="turn_overlay">
    <div class="turn_button_cont">
        <span class="turn_button" style="margin-bottom:20px;">Team A Turn</span>
        <br>
        <span class="turn_button">Team B Turn</span>
    </div>
</div>   
    
    <div class="twenty">
        <div class="inner_block"><div class="inner_text">Team A Has <span id="team_a_pts" class="">0</span> Points</div></div>
        <div class="inner_block"><div class="inner_text">Team B Has <span id="" class="team_b_pts">0</span> Points</div></div>
    </div> 
    
    <div class="forty team_a">
        <div class="inner_block clickable"><div onclick="add_a()" class="inner_text team_name">+1</div></div>
        <div class="inner_block clickable"><div onclick="sub_a()" class="inner_text team_name">-1</div></div>
    </div> 
    
    <div class="forty team_b">
        <div class="inner_block clickable"><div onclick="add_b()" class="inner_text team_name">Pass</div></div>
        <div class="inner_block clickable"><div onclick="sub_b()" class="inner_text team_name">Taboo</div></div>
    </div> 
    
    <div class="twenty">
        <div style="height:100%;" class="inner_block"><div class="inner_text">Time:<br><span id="">0:23</span></div></div>
        
    </div> 

    
    
</div>   
    
    
<script type="text/javascript" src="/js/taboo_scripts.js" async defer></script>
    
<% include ../partials/global_footer.ejs %>